@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "微软雅黑";
}
a{
    color: black;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix:after{
    display: block;
    clear: both;
    content: "";
}
.header{
    background: #EEEEEE;
    min-width: 1226px;
    >div{
        width: 1226px;
        margin: 0 auto;
        text-align: center;
        >img{
             width: 700px;
        }
    }
}
.nav{
    min-width: 1226px;
    background: black;
    >div{
        width: 1226px;
        margin: 0 auto;
        >ul{
            margin: 14px 0;
            >li{
                float: left;
                padding: 0 10px;
                color: #ACACAC;
                font-size: 14px;
                border-right: 1px solid #414141;
                >a{
                    color:  #ACACAC;
                }
                >a:hover{
                    box-shadow: none;
                    color: white;
                }
            }
            >li:hover{
                color: white;
            }
        }
        >a{
           padding: 14px;
           font-size: 14px;
           box-shadow: none;
           color: #ACACAC;
           background: #424242;
           position: relative;
           >div{
               position: absolute;
               z-index: 2;
               width: 200px;
               height: 97px;
               top: 49px;
               left:-111px;
               background: rgba(255,255,255,0.8);
               text-align: center;
               line-height: 100px;
               display: none;
           }
        }
        >a:hover{
            background: white;
            color: #FF6700;
        }
    }
}
.box{
    >.b-one{
        width: 1226px;
        margin: 0 auto;
        position: relative;
        >img{
            float: left;
            margin:20px 50px 20px 0;
        }
        >.b_one1{
//          position: relative;
            #oUl{
                float: left;
                position: relative;
                >li{
                    float: left;
                    padding: 35px 15px 36px 0;
                    font-size: 16px;
                    >a{
                        color: black;
                    }
                    >a:hover{
                        box-shadow: none;
                        color: #FF6700;
                    }
                    >div{
                        width: 1346px;
                        height: 230px;
                        position: absolute;
                        top: 95px;
                        left:-267px;
                        z-index: 10;
                        background: white;
                        display: none;
                        border-top: 1px solid darkgray;
                        >ul{
                            width: 1226px;
                            margin: 0 auto;
                            >li{
                                text-align: center;
                                margin-top: 36px;
                                >img{
                                    border-right: 1px solid grey;
                                }
                            }
                        }
                    }
                }
            }
            >#box{
                >li{
                    width: 100%;
                    height: 200px;
                    background: pink;
                    position: absolute;
                    top: 76px;
                    z-index: 2;
                    display: none;
                }
                >.show{
                    display: block;
                }
            }
        }
        >.b_one2{
            width: 295px;
            margin: 20px 0;
            >input{
                width: 242px;
                padding: 13px 0;
                border: 1px solid gainsboro;
                box-shadow: none;
            }
            >div{
                padding:13px;
                background: none;
                font-size: 24px;
                border: 1px solid gainsboro;
                border-left: none;
            }
        }
    }
    >.b-two{
        width: 1226px;
        height: 460px;
        margin: 0 auto;  
        position: relative;
        >ul{
            width: 234px;
            background: rgba(0,0,0,0.3);
            box-sizing: border-box;
            position: absolute;
            z-index: 2;
            top: 0;left: 0;
            padding: 20px 0;
            >li{
                color: white;
                padding: 9px 23px 9px 30px;
                >div:nth-child(1)>a{
                    color: white;
                }
                .show{
                    width: 750px;
                    height: 460px;
                    border: 1px solid pink;
                    position: absolute;
                    left: 235px;
                    top: 0;
                    display: none;
                    z-index: 2;
                    background: white;
                    ul {
                        margin: 40px auto;
                        li {
                            float: left;
                            height: 100px;
                            color: #424242;
                            line-height: 100px;
                            margin-right: 10px;
                            img {
                                width: 50px;
                                margin-right: 10px;
                            }
                            >p{
                               margin-top: -20px; 
                            }
                            >a{
                                display: block;
                                width: 50px;
                                height: 30px;
                                text-align: center;line-height: 30px;
                                border: 1px solid orangered;
                                margin: 12px 0 0 10px;
                            }
                        }
                    }
                }
            }
            >li:hover{
                background: #FF6700;
            }
        }
        >.img{
            z-index: 1;
            >#tab{
                >li{
                    position: absolute;
                    opacity: 0;
                    >img{
                        width: 1226px;
                        height: 460px;
                    }
                }
                .show{
                    opacity: 1;
                }
            }
            >ul:nth-child(2){
                width: 992px;
                position: absolute;
                top: 210px;
                left: 234px;
                >li>a:hover{
                    box-shadow: none;
                }
            } 
            >ul:nth-child(3){
                width: 90px;
                display: flex;
                justify-content: space-between;
                position: absolute;
                top: 430px;
                right: 35px;
                >li{
                    width: 6px;
                    height: 6px;
                    border: 2px solid gray;
                    border-radius: 10px;
                    background: black;
                }
                >li:hover{
                    background: gray;
                }
            }         
        }
    }
    >.b-three{
        width: 1226px;
        margin: 14px auto;
        >.one{
            width: 234px;
            background: #5F5750;
            margin-right: 14px;
            >ul{
                >li{
                    text-align: center;
                    width: 77px;
                    height: 85px;
                    box-sizing: border-box;
                    padding: 15px 0;
                    font-size: 14px;
                    >a{
                        >span{
                            color: #CDCAC8;
                        }
                    }
                    a:hover{
                        box-shadow: none;
                        >span{
                            color: white;
                        }
                    }
                }
            }
        }
        >a>img{
            margin-right:10px ;
            width: 316px;
        }
        >a:nth-of-type(3)>img{
            margin-right: 0;
        }
        >a:hover{
            box-shadow: none;
        }
    }
}
.b-fore{
        width: 1226px;
        margin: 0 auto;
        margin-top: 28px;
        >.one{
            >p{
                >a{
                    display: inline-block;
                    width: 30px;
                    height: 20px;
                    border: 1px solid gainsboro;
                    text-align: center;
                    color: darkgray;
                }
                >a:hover{
                    box-shadow: none;
                }
                >a:nth-child(1){
                    margin-right: -7px;
                }
            }
        }
        >ul{
            margin-top: 20px;
            >li{
                width: 233px;
                height: 335px;
                background: #FAFAFA;
                text-align: center;
                margin-right: 14px;
                >a:nth-child(1){
                    display: block;
                    margin: 50px 0 40px 0;
                }
                >a:nth-child(2){
                     margin-bottom: 5px;
                }
                >a:hover{
                    box-shadow: none;
                }
                >p{
                    font-size: 14px;
                }
                >p:nth-child(3){
                    color: grey;
                    font-size: 12px;
                    margin-bottom: 15px;
                }
                >p:nth-child(4){
                    color: orange;
                }
            }
            >.li1{
                border-top:1px solid orange;
            }
            >.li2{
                border-top:1px solid greenyellow;
            }
            >.li3{
                border-top:1px solid paleturquoise;
            }
            >.li4{
                border-top:1px solid pink;
            }
            >.li5{
                border-top:1px solid palegreen;
                margin-right: 0;
            }
        }
    }
.box1{
    background: #F5F5F5;
    padding-top: 77px;
    margin-top: 40px;
    padding-bottom: 60px;
    >.b1-one{
        width: 1226px;
        margin: 0 auto;
        p{
            >a{
                border-bottom: 2px solid #F5F5F5;
                margin-left: 20px;
            }
            >a:hover{
                border-bottom: 2px solid red;
                color: red;
            }
        }
        >.two{
            margin-top: 20px;
            >img:hover{
                box-shadow: 0px 5px 10px grey;
                transform: translateY(-2px);
            }
            >.two_1{
                width: 233px;
                height: 615px;
                >img:nth-child(1){
                    margin-bottom: 10px;
                }
            }
            >.two_1>img:hover{
                box-shadow: 0px 5px 10px grey;
                transform: translateY(-2px);
            }
            >ul{
                width: 980px;
                >.li1{
                    width: 234px;
                    height: 300px;
                    background: white;
                    margin: 0 0 14px 11px;
                    text-align: center;
                    font-size: 14px;
                    >a:nth-child(1){
                        margin: 50px 0 40px 0;
                        display: block;
                    }
                    >a:nth-child(2){
                        margin-bottom: 5px;
                    }
                    >a:hover{
                        box-shadow: none;
                    }
                    >p{
                        font-size: 14px;
                        margin-bottom: 5px;
                    }
                    >p:nth-child(3){
                        color: grey;
                    }
                    >p:nth-child(4){
                        color: orange;
                        s{
                            color: darkgray;
                        }
                    }
                }
                >.li2{
                    >div{
                        width: 233px;
                        height: 145px;
                        background: white;
                        margin-left: 12px;
                        >.auto{
                            width: 175px;
                            height: 65px;
                            margin: 0 auto;
                            padding-top: 40px;
                            font-size: 14px;
                            p:nth-child(2){
                                margin-top: 5px;
                                color: orange;
                            }
                        }
                    }
                    >div:nth-child(2){
                        margin-top: 10px;
                    }
                    >div:hover{
                        box-shadow: 0px 5px 10px grey;
                        transform: translateY(-2px);
                    }
                }
                >.li1:hover{
                    box-shadow: 0px 5px 10px grey;
                    transform: translateY(-2px);
                }
            }
            
        }
    }
    >.b1-one:nth-of-type(1){
        margin-top: 30px;
        >.two{
            >ul{
            display: none;
            >.li1{
                    >a{
                        margin: 30px 0;
                    }
                }
            }
            >.show_1{
                display: block;
            }
        }
    }
    >.b1-one:nth-of-type(2){
        margin-top: 30px;
        >.two{
            >ul{
            display: none;
            >.li1{
                    >a{
                        margin: 30px 0;
                    }
                }
            }
            >.show_1{
                display: block;
            }
        }
        
    }
    >.b1-one:nth-of-type(3){
        margin-top: 30px;
        >.two{
            >ul{
            display: none;
            >.li1{
                    >a{
                        margin: 30px 0 20px 0;
                    }
                }
            }
            >.show_1{
                display: block;
            }
        }
    }
    >.b1-one:nth-of-type(4){
        margin-top: 30px;
        >.two{
            >ul{
            display: none;
            >.li1{
                    >a{
                        margin: 30px 0 20px 0;
                    }
                }
            }
            >.show_1{
                display: block;
            }
        }
    }
    >.b1-one:nth-of-type(5){
        margin-top: 30px;
        >.two{
            >ul{
            display: none;
            >.li1{
                    >a{
                        margin: 30px 0 20px 0;
                    }
                }
            }
            >.show_1{
                display: block;
            }
        }
    }
    >.b1-one:nth-of-type(6){
        margin-top: 30px;
        >.two>ul>.li1{
                    >a{
                        margin: 30px 0 20px 0;
                    }
                }
    }
    >.b-fore{
        >ul>li:hover{
            box-shadow: 0px 5px 10px grey;
            transform: translateY(-2px);
        }
    }
    >.b1-two{
        width: 1226px;
        margin: 0 auto;
        margin-top: 28px;
        >ul{
            margin-top: 20px;
            >li{
                width: 295px;
                height: 416px;
                background: #FAFAFA;
                margin-right: 14px;
                >.text{
                    padding: 20px;
                    >p{
                        font-size: 14px;
                        margin-bottom: 5px;
                    }
                    >p:nth-child(2){
                        margin-top: 20px;
                        color: grey;
                    }
                    >p:nth-child(3){
                        margin-top: 10px;
                        color: orange;
                    }
                }
                
            }
            >.li4{
                margin-right: 0;
            }
            >li:hover{
                box-shadow: 0px 0px 30px darkgrey;
                transform: translateY(-2px);
            }
        }
    }
    .b1-three{
        width: 1226px;
        margin: 0 auto;
        margin-top: 28px;
        >ul{
            margin-top: 20px;
            >li{
                width: 295px;
                height: 420px;
                background: #FAFAFA;
                text-align: center;
                margin-right: 14px;
                >p:nth-child(1){
                    color: orange;
                    margin: 40px 0 20px 0;
                }
                >a:nth-child(2){
                    font-size: 20px;
                }
                >a:nth-child(3){
                    color: grey;
                    font-size: 12px;
                }
                >a:nth-child(4){
                    color: black;
                    margin-top: 20px;
                }
                >a{
                    display: block;
                    margin: 20px 0;
                }
                >a:hover{
                    box-shadow: none;
                }
                >.ul{
                    width: 70px;
                    margin: 0 auto;
                    >li{
                        width: 5px;
                        height: 5px;
                        border-radius: 5px;
                        background: gray;
                        border: 1px solid gray;
                        margin-right: 15px;
                    }
                    >li:nth-child(1){
                        width: 7px;
                        height: 7px ;
                        border: 2px solid orangered;
                        border-radius: 7px;
                        background: white;
                        margin-top: -2px;
                    }
                }
            }
            >li:hover{
                box-shadow: 0px 5px 10px grey;
                transform: translateY(-2px);
            }
            >.li1{
                border-top:1px solid orange;
            }
            >.li2{
                border-top:1px solid greenyellow;
                >p:nth-child(1){
                    color: greenyellow;
                }
                >.ul{
                    width: 95px;
                    margin: 0 auto;
                }
            }
            >.li3{
                border-top:1px solid paleturquoise;
                >p:nth-child(1){
                    color: paleturquoise;
                }
                >a:nth-child(4){
                    margin-top: 38px;
                }
            }
            >.li4{
                border-top:1px solid pink;
                margin-right: 0;
                >p:nth-child(1){
                    color: pink;
                }
                >a:nth-child(4){
                    margin-top: 38px;
                }
                >.ul{
                    width: 95px;
                    margin: 0 auto;
                }
            }
        }
    }
    >.b1-tt{
        a:hover{
                    box-shadow: none;
                }
        >ul>li{
            height: 285px;
            >div{
                text-align: center;
                >span{
                    font-size: 14px;
                }
                >a:hover{
                    color: #FF6700;
                }
            }
        }
    }
    .bqf{
        position: relative;
        >.bq{
            width: 50px;
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -25px;
            background: red;
            color: white;
        }
    }
}
.box2{
    background: white;
    >ul{
        width: 1226px;
        margin: 0 auto;
        height: 80px;
        border-bottom: 1px solid gainsboro;
        >li{
            width: 240px;
            height: 30px;
            text-align: center;
            border-right: 1px solid darkgray;
            margin-top: 25px;
            >a>img{
                vertical-align: middle;
            }
            >a:hover{
                box-shadow: none;
                color: #FF6700;
            }
        }
        >li:nth-child(5){
            border-right: none;
        }
    }
    >.b3-two{
        width: 1226px;
        margin: 0 auto;
        padding: 30px 0;
        >div{
            width: 980px;
            border-right: 1px solid gainsboro;
            >ul{
                width: 160px;
                >li{
                    margin-top: 15px;
                    color: gray;
                    font-size: 12px;
                    >a{
                        color: gray;
                    }
                    >a:hover{
                        box-shadow: none;
                        color: #FF6700;
                    }
                }
                >.strong{
                    margin-top: 0;
                    margin-bottom: 30px;
                    color: black;
                    font-size: 14px;
                }
            }
        }
        >ul{
            width: 245px;
            text-align: center;
            >li{
                font-size: 14px;
                color: gray;
            }
            >li:nth-child(1){
                font-size: 20px;
                color: orangered;
            }
            >li:nth-child(3){
                margin-bottom: 20px;
            }
            >li:nth-child(4){
                border: 1px solid #FF6700;
                width: 100px;
                padding: 5px 10px;
                font-size: 14px;
                margin: 0 auto;
                >a{
                    color: #FF6700;
                }
            }
            >.lii:hover{
                    background: #FF6700;
                    >a{color: white;}
                }
        }
    }
}
.box3{
    background: #FAFAFA;
    padding: 30px 0;
    >div{
        width: 1226px;
        margin: 0 auto;
        >div{
            margin-left: 10px;
            >ul{
                font-size: 14px;
                >li{
                    padding: 0 5px;
                    font-size: 12px;
                    border-right: 1px solid darkgray;
                    >a:hover{
                        box-shadow: none;
                        color:#FF6700;
                    }
                }
                >li:nth-child(12){
                    border-right: none;
                }
            }
            >p{
                font-size: 12px;
                color: darkgray;
            }
        }
        >ul{
            >li{
                margin-left: 10px;
                font-size: 12px;
                color: grey;
                >img{
                    margin-right: 5px;
                }
            }
        }
    }
    >p{
        text-align: center;
        padding: 20px 0;
        font-family: "楷体";
        font-size: 20px;
        color: gray;
    }
}

